@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #093F59; /* Tu azul profundo */
  --foreground: #D7CEB2; /* Tu beige premium */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}